<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.iname}}" placeholder="Item Name"
            name="iname">
        <label for="floatingInput">Item Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.quantity}}" placeholder="Quantity"
            name="quantity">
        <label for="floatingInput">Quantity</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.image}}" placeholder="Image URL"
            name="image">
        <label for="floatingInput">Image URl</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.supplier_id}}" placeholder="Supplier ID"
            name="supplier_id">
        <label for="floatingInput">Supplier ID</label>
    </div>
</div>

<div class="col-12">
    <div class="form-floating mb-3">
        <textarea type="text" class="form-control" id="floatingInput" placeholder="Description" name="description"
            style="height: 200px;">{{this.description}}</textarea>
        <label for="floatingInput" >Item Description</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>