<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <i class="bi bi-boxes"></i>&nbsp;Inventory Management</a>
    <div class="d-flex" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active nv-hov" aria-current="page" href="/"><i class="bi bi-house-door"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nv-hov" href="/profile"> <i class="bi bi-person-circle"></i> {{curuser.name}}</a>
        </li>
        <li class="nav-item nv-hov">
          <a class="nav-link nv-hov" href="/auth/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show m-3" role="alert">
  Item has been removed.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="container pt-5 pb-0">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Storage</li>
    </ol>
  </nav>
  <div class="container pt-3 pb-3">
    <form class="d-flex" method="POST" action="/storage" novalidate>
      <input class="form-control me-2" type="search" placeholder="Search by Name or ID" name="search"
        aria-label="Search" />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="row mx-3">
  <div class="col-6 p-0">
    <h1>Items</h1>
  </div>
  <div class="col-6 d-flex justify-content-end p-0">
    <a href="/storage/additem" class="btn btn-primary align-self-center"><i class="bi bi-plus-circle"></i> add
      item</a>
    <a href="/supplier" class="btn btn-primary align-self-center" style="margin-left: 10px"><i class="bi bi-box2"></i> Suppliers</a>
  </div>
</div>

<div class="table-responsive  pt-0 pb-5 mx-3">

  <table class="table table-bordered table-striped-columns">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Added On</th>
        <th scope="col">Last Updated On</th>
        <th scope="col">Supplier</th>
        <th scope="col" class="text-end">Action</th>
      </tr>
    </thead>
    <tbody>

      {{#each rows}}


      <tr>
        <th scope="row">{{this.id}}</th>
        <td style="width: 25vw;">{{this.iname}}</td>
        <td>{{this.quantity}}</td>
        <td style="width: 17vw;">{{this.added}}</td>
        <td style="width: 17vw;">{{this.updated}}</td>
        <td>{{this.supplier_name}}</td>
        <td class="text-end">

          <a href="/storage/viewitem/{{this.id}}" type="button" class="btn btn-light btn-small"> <i
              class="bi bi-eye"></i> View</a>
          <a href="/storage/edititem/{{this.id}}" type="button" class="btn btn-light btn-small"> <i
              class="bi bi-pencil"></i> Edit</a>
          <a href="/storage/{{this.id}}" type="button" class="btn btn-light btn-small"> <i class="bi bi-trash"></i>
            Delete</a>

        </td>
      </tr>

      {{/each}}

    </tbody>
  </table>

</div>